/* set up the hero image*/
.hero-image{
    background-image: url("scotland-1987599_1280.jpg"); 
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* sets up the image*/

img {
    width: 100%;
    border-radius: 5px;
}

/* sets up the text on the hero image*/
.hero-text{
    width: 100%;
    color: whitesmoke;
    position: absolute;
    text-align: center;
    font: 100px Arial;
}

/* applies to all heading text*/
h1 {
    font: 50px Arial;
}

/* applies to all paragraph text */
p {
    font: 30px Arial;
}


/* formats the main information section*/
.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}   

/* applies to all text in the 'info' class*/
.info {
    font-size: 1.25em;
    
}

/* sets up the bagpipes section*/
.three-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

/* handles the card at the bottom on the bagpipe images */
.card {
    background-color: aqua;   
}

/* handles the text on the card of the bagpipe images */
.card-text {
    text-align: center;
    font: 50px Arial;
    color: whitesmoke
}