.hero-image{
    background-image: url("scotland-1987599_1280.jpg"); 
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

img {
    width: 100%;

}
.hero-text{
    width: 100%;
    color: whitesmoke;
    position: absolute;
    text-align: center;
    font: 100px Arial;
}

h1 {
    font: 50px Arial;
}

p {
    font: 30px Arial;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}   

.info {
    font-size: 1.25em;
    
}
